.table thead{
    background-color: #110130;
    color: white;
}
.table{
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.table table{
    background-color: #110130;

    width: 900px;
    border-collapse: collapse;
}

.table a{
    padding: 5px 10px;
    background-color: #110130;
    border-radius: 5px;
    /* color: white; */
    text-decoration: none;
}

.table a:hover{
    background-color: #4e04e2;
    color: white;
}
